
pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/
env/
IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
Streamlit
.streamlit/
API Keys and Credentials
api_credentials.yml
.env
*.pem
*.key
Database
*.db
chromadb/
Logs
*.log
logs/
log/
Temporary files
tmp/
temp/
.DS_Store
Data files
data/
*.csv
.xlsx
.xls
.pdf
!example_data/.csv
!example_data/.xlsx
!example_data/.pdf
Documentation
docs/_build/
app_bkup.py
check_env.py
check_env.sh
instructions.txt
environment.yml
logs.txt
